.wrapper {
    min-height: 85vh;
    background-color: #fdf2ed;
    width: 100%;
}

.BannerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TitleWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleText{
    max-width: 240px;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

.descText{
    max-width: 500px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.orderBtn{
    align-self: flex-start;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    padding: 12px 28px;

    &:hover{
        background-color: var(--black-color);
    }
}

.OrderBtnIcon{
    margin-left: 8px;
}

.img{
    height: 100%;
}
